<div class="container">
  <div class="row customSign">
    <div class="col-sm-12 d-flex justify-content-center align-items-center mt-3">
      <div class="displayTable w-100">
        <div class="displayTableCell">
          <div class="authBlock">
            <h3>Sign Up</h3>
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control my-2" placeholder="Email Address" #userEmail required />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control my-2" placeholder="Password" #userPwd required />
            </div>
            <div class="formGroup">
              <input type="button" class="btn btn-primary my-2 btn-lg" value="Sign Up"
                (click)="authService.signUp(userEmail.value, userPwd.value)" />
            </div>
          </div>
          <div class="redirectToLogin">
            <span style="font-size: 1.5rem;" class="text-muted">Already have an account?
              <span class="redirect btn btn-success btn-sm" routerLink="/auth/sign-in">Log In</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>