.custom-avatar {
	margin-right: 1rem;
}

.custom-card-image {
	margin-top: 8px !important;
	border-radius: 0px !important;
}

.fav-actions {
	margin-left: auto !important;
}

.fav-actions button {
	background-color: #3f51b5;
	color: #fff;
}
